#kaocha/v1
 {:tests [{:id          :notifiers
           :type        :kaocha.type/clojure.test
           :source-paths []
           :test-paths  ["test"]
           :ns-patterns ["notifiers-test$"]}
          {:id          :programs
           :type        :kaocha.type/clojure.test
           :source-paths []
           :test-paths  ["test"]
           :ns-patterns ["programs-test$"]}
          {:id          :vens
           :type        :kaocha.type/clojure.test
           :source-paths []
           :test-paths  ["test"]
           :ns-patterns ["vens-test$"]}
          {:id          :topics
           :type        :kaocha.type/clojure.test
           :source-paths []
           :test-paths  ["test"]
           :ns-patterns ["topics-test$"]}
          {:id          :mqtt
           :type        :kaocha.type/clojure.test
           :source-paths []
           :test-paths  ["test"]
           :ns-patterns ["mqtt-test$"]}]
  :color?     true
  :fail-fast? false
  :randomize? false}
